
#five {
  background-color: aquamarine;
}

#title {
  background-color: pink;
}

#directions {
  background-color: aquamarine
}

#goal {
  background-color: aqua;
}

#score {
  background-color: pink;
}

#i1,
#i2,
#i3,
#i4 {
  border: 1px solid black;
}

#score1 {
  background-color: aquamarine;
}

#score2 {
  background-color: bisque;
}

.crystal-image {
  width: 200px;
  height: 200px;
  padding: 5px;
}
