
#five {
  background-color: aquamarine;
}

#title {
  background-color: pink;
}

#directions {
  background-color: aquamarine
}

#goal {
  background-color: aqua;
}

#score {
  background-color: pink;
}

#i1,
#i3 {
  background-color: blanchedalmond;
}

#i2,
#i4 {
  background-color: aliceblue;
}

#score1 {
  background-color: aquamarine;
}

#score2 {
  background-color: bisque;
}
